nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.nav-button {
  margin-left: 2rem;
  background: linear-gradient(
    90deg,
    rgba(255, 222, 0, 1) 0%,
    rgba(255, 158, 0, 1) 100%
  );
  font-size: 1.5rem;
  font-weight: 500;
  width: 150px;
  border-radius: 25px;
  padding: 5px;
  cursor: pointer;
  border: none;
  transition: 0.2s ease;
}
.title {
  font-size: 1.8rem;
  text-decoration: none;
  color: black;
}
.quantity {
  margin-left: 10px;
}
.nav-button:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
